.image-grid{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap:10px; /*그리드사이의 간격*/
}

/*.image-grid : 클래스를 만들었음 */
/*.img-grid 클래안에 있는  img태그에만 적용해라 */
.img-grid img{
    width:100%;  /* width가 줄어드는 비율로 height도 설정해라 */
    height:auto; 
}